<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "custom", media: "all", "data-turbolinks-track" => true %>  
	<% @title = "KFan > Mobile" %></head>
</head>
<body>
<ul class="mobile-cells">
  <li>
	<div class="mobile-cell-container">
		<p id="mobile menu">Zixuan(Kevin) Fan</p>
	</div>
  </li>
    <li>
	<div class="mobile-cell-container">
		<%= image_tag "laptop.svg", height: "auto", width: "100", class: "illustration"%>
		<h4 class="mobile-comment">// Electrical Engineering</h4>
	</div>
  </li>
  <li>
	<div class="mobile-cell-container">
		<%= image_tag "web.png", height: "auto", width: "150", class: "illustration"%>
		<h4 class="mobile-comment">// Web Development</h4>
	</div>
  </li>
    <li>
	<div class="mobile-cell-container">
		<%= image_tag "ios.svg", height: "auto", width: "120", class: "illustration"%>
		<h4 class="mobile-comment">// iOS Development</h4>
	</div>
  </li>
    <li>
	<div class="mobile-cell-container">
		<%= image_tag "globe.svg", height: "auto", width: "80", class: "illustration"%>
		<h4 class="mobile-comment">// Trilingual</h4>
	</div>
  </li>
      <li>
	<div class="mobile-cell-container">
		<%= image_tag "medical.svg", height: "auto", width: "100", class: "illustration"%>
		<h4 class="mobile-comment">// EMT and CPR</h4>
	</div>
  </li>
</ul>
</body>
</html>