<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= favicon_link_tag 'favicon.ico' %>	
	<%= stylesheet_link_tag "reset", media: "all", "data-turbolinks-track" => true %>  	
	<%= stylesheet_link_tag "custom", media: "all", "data-turbolinks-track" => true %>  
	<%= stylesheet_link_tag "hover-min", media: "all", "data-turbolinks-track" => true %>  	
  	<%= javascript_include_tag "modernizr.js", "data-turbolinks-track" => true %>
	<% @title = "KFan > Work > Web" %></head>
</head>
<body>
<div id="overlay-contact"></div>
<div id="overlay-utilities"></div>
<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>
<%= render 'layouts/contact' %>
<%= render 'layouts/utilities' %>


<section class="web-list">
	<div class="project-container">
	<h3 class="web-title">Projects</h3>
	<p>The journey is the reward and I love the feeling of being on adventure every day</p>
<ul>
<li>
<div class="web-list-container">
<a class="web-hover hvr-float" href="http://lachariteconstructioninc.com" target="_blank">
	<div class="browser-wrapper">
	  <div class="browser-navigation-bar">
	  	<i></i>
	  	<i></i>
	  	<i></i>
   	  </div>
      <div class="browser-container">
	   <%= image_tag "laCharite.jpg" %>
      </div>
    </div>
</a>
<h3 class="web-des">// First Project</h3>
<p class="url">lachariteconstructioninc.com</p>
</div>
</li>

<li>
<div class="web-list-container">
<a class="web-hover hvr-float" href="http://kfaninc.com" target="_blank">
	<div class="browser-wrapper">
	  <div class="browser-navigation-bar">
	  	<i></i>
	  	<i></i>
	  	<i></i>
   	  </div>
      <div class="browser-container">
	   <%= image_tag "kfaninc.gif" %>
      </div>
    </div>
</a>
<h3 class="web-des">// Personal Website</h3>
<p class="url">kfaninc.com</p>
</div>
</li>

<li>
<div class="web-list-container">
<a class="web-hover hvr-float" href="http://kmcalexander.me" target="_blank">
	<div class="browser-wrapper">
	  <div class="browser-navigation-bar">
	  	<i></i>
	  	<i></i>
	  	<i></i>
   	  </div>
      <div class="browser-container">
	   <%= image_tag "kfat-web.jpg" %>
      </div>
    </div>
</a>
<h3 class="web-des">// Birthday Gift</h3>
<p class="url">kmcalexander.me</p>
</div>
</li>
</ul>
</div>
</section>

<section class="widget-list">
	<h3 class="web-title">Widgets</h3>
	<p>The beauty of design is starting with something little, and constantly building on to it</p>
<div class="widget-wrapper">
	<ul>
		<li class="widget-container hvr-hang">
			<a href="#">
				<div id="widget-gauge">
					<p class="widget-title">Air Quality Index Gauge</p>
					<%= image_tag "widgets/gauge.png" %>
					<p class="widget-des">The air quality of current location, using Breezemeter&reg API</p>
				</div>
			</a>
		</li>
		<li class="widget-container hvr-hang">
			<a href="#">
				<div id="widget-weather">
					<p class="widget-title">Weather App</p>
					<%= image_tag "widgets/weather.png" %>
					<p class="widget-des">The weather conditions of current location, using YAHOO! Weather&reg API. Conversions between Celsius and Fahrenheit was also implemented for international users</p>
				</div>
			</a>
		</li>
		<li class="widget-container hvr-hang">
			<a href="http://codepen.io/kevinfan23/pen/WwdZZG" target="_blank">
				<div id="widget-snow">
					<p class="widget-title">Snowfall</p>
					<%= image_tag "widgets/snow.png" %>
					<p class="widget-des">I was born in north China, where snow can be found all the way from November to the February of next year. In my childhood, the first beauty I discovered was the falling of snow shone by street lights</p>
				</div>
			</a>
		</li>
	</ul>
</div>
</section>

<%= javascript_include_tag "portfolio", "data-turbolinks-track" => true %>
<%= javascript_include_tag "nav", "data-turbolinks-track" => true %>
<%= javascript_include_tag "contact", "data-turbolinks-track" => true %>
<%= javascript_include_tag "utilities", "data-turbolinks-track" => true %>